body{

}



header{
    height: 90px;
    position: fixed;
    margin-right: 200px;
    z-index: 1;

}

#home {
    min-height: 1024px;
    min-width: 768px;
    background-image: url('utah9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: papayawhip;
}




.title {
    width: 600px;
    height: 200px;
    float: right;
    text-align: center;
    padding-top: 25px;
    margin-top: 125px;
    padding-left: 15px;
}

.title h1 {
    font-family: Satisfy;
    font-size: 48px;

}

.title p {
    font-family: lato;
    font-size: 24px;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 10px;
    z-index: 1;
}


 .li:active{
   background-color: black;
 }



#about img {
    height: 250px;
    width: 200px;
    float: right;
    padding-left: 3px;
    padding-top: 10px;

}


.aboutMe{

    min-height: 1024px;
    min-width: 768px;
    position: relative;
    font-family: arial;
    font-size: 18px;
    font-weight: bolder;
    color: saddlebrown;
    background-color: papayawhip;
    padding-top: 30px;
    border: 4px solid green;

}


.portfolio{

    min-height: 1024px;
    min-width: 768px;
    position: relative;
    font-family: arial;
    font-size: 18px;
    font-weight: bolder;
    color: saddlebrown;
    background-color: papayawhip;
    padding-top: 30px;
    border: 5px solid green;


}
