body{
   
}

.navbar{

    position: fixed;
    width: 100%;
    margin-left: -5px;
    
}
#home {
    min-height: 800px;
    min-width: 100%;
    background-image: url('utah9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: papayawhip;
}



.title {
    width: 600px;
    height: 200px;
    float: right;
    text-align: center;
    padding-top: 25px;
    margin-top: 125px;
    padding-left: 15px;
}

.title h1 {
    font-family: Satisfy;
    font-size: 48px;

}

.title p {
    font-family: lato;
    font-size: 24px;
}


 .li:active{
   background-color: black;
 }



#about img {
    height: 250px;
    width: 200px;
    float: right;
    padding-left: 3px;

}

.aboutMe{

    height: 800px;
    width: 100%;
    font-family: arial;
    font-size: 18px;
    font-weight: bolder;
    color: saddlebrown;
    background-color: papayawhip;
    padding-top: 70px;
    padding-left: 20px;
  

}


.portfolio{
    
    height: 800px;
    width: 100%;
    font-family: arial;
    font-size: 18px;
    font-weight: bolder;
    color: saddlebrown;
    background-color: papayawhip;
    padding-top: 70px;
    padding-left: 20px;


    
    
}

